    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
      <div class="container-fluid d-flex justify-content-between">
        <router-link class="navbar-brand" to="/home"><i class="bi bi-house-door me-2"></i>AnunciosApp</router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <AnuncioSearchbox v-if="isAuthenticated" class="d-none d-md-block widthsearch" />
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <AnuncioSearchbox v-if="isAuthenticated" class="d-block d-md-none mt-2" />
            <li v-if="!isAuthenticated" class="nav-item">
              <router-link class="nav-link" to="/login">Iniciar Sesión</router-link>
            </li>
            <li v-if="!isAuthenticated" class="nav-item">
              <router-link class="nav-link" to="/register">Registrarse</router-link>
            </li>
            <li v-if="isAuthenticated" class="nav-item">
              <router-link class="nav-link text-primary" to="/anuncios/crear-anuncio"><i class="bi bi-plus-circle me-2"></i> Crear Anuncio</router-link>
            </li>

            <li v-if="isAuthenticated" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.email}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li  >
                  <router-link class="dropdown-item" to="/profile"><i class="bi bi-person me-2"></i>Mi Perfil</router-link>
                </li>
                <li  >
                  <router-link class="dropdown-item" to="/anuncios/mis-anuncios"><i class="bi bi-person me-2"></i>Mis Anuncios</router-link>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li v-if="isSuperAdmin" >
                  <router-link class="dropdown-item" to="/categorias">Categorias</router-link>
                </li>
                <li v-if="isSuperAdmin" >
                  <router-link class="dropdown-item" to="/admin-users">Dashboard</router-link>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li >
                  <button @click="logout" class="dropdown-item text-danger"><i class="bi bi-door-closed-fill me-2"></i>Cerrar sesión</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>