.mt-6 {
    margin-top: 3.5rem !important;
}
.mt-7 {
    margin-top: 4rem !important;
}
.dt-length label{
    display: flex;
        gap: 1rem;
        align-items: center;
}
.bg-cream{
    background-color: #F4F2EE;
}
#app{
    height: calc(100vh - 64px);
}